.root {
  /* Dimensions */
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 45px;
  column-gap: 29px;
  @media (--viewportMedium) {
    padding-top: 1px;
  }
  @media (max-width: 1200px) {
    row-gap: 35px;
    column-gap: 19px;
  }
  @media (max-width: 1023px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 16px;
    column-gap: 16px;
  }
  @media (max-width: 580px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 450px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.offeredServices {
  max-width: 147px;
  width: 100%;
  max-height: 139px;
  & .serviceBlock {
    background: #ffffff;
    border: 1px solid #b9b9b9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    text-align: center;
    position: relative;
    height: 139px;
    & h6 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #000000;
      margin: 14px 0 0;
      display: none;
      @media (max-width: 1200px) {
        margin: 10px 0 0;
        font-size: 16px;
        line-height: 20px;
      }
    }
    & input[type='checkbox'] {
      display: none;
    }
    & label {
      height: 100%;
    }
    & label > span {
      display: none;
    }
    & input[type='radio']:checked + label {
      border: 1px solid #91d6d5;
      height: 100%;
    }
    & > span {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
    & img {
      width: 126px;
      height: 66px;
    }
    & > input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      z-index: 1;

      &:checked + div {
        & > svg {
          display: block;
        }
      }
    }

    &:first-child {
      & .serviceImg {
        background-color: #ffebe4;
      }
    }

    &:nth-child(2) {
      & .serviceImg {
        background-color: #f9feff;
      }
    }

    & .serviceImg {
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px;
      background-color: #fff;
      border: 1px solid #b9b9b9;
      position: relative;

      & > svg {
        fill: none;
        position: absolute;
        top: -10px;
        left: -10px;
        display: none;
      }
    }

    & .serviceInfo {
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      color: #121212;

      @media (--viewportMedium) {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}
.fixedBottomFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--matterColorLight);
  padding: 20px 16px 20px 48px;
  box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.25);
  @media (max-width: 767px) {
    padding: 16px;
  }
  & .fixedWidthContainer {
    width: 100%;
    margin: 0px auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (--viewportLarge) {
      padding: 0 1rem;
    }

    & .rightButtons {
      display: inline-flex;
      align-items: center;

      & > button {
        margin-right: 8px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  & .submitButton {
    width: auto;
    min-height: auto;
    background: #c96969;
    box-shadow: 0px 0px 16px rgba(201, 105, 105, 0.4);
    border-radius: 3px;
    border: 1px solid #c96969;
    font-family: 'Didact Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
    height: 44px;
    width: 144px;
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 20px;
      height: 40px;
      width: 98px;
    }
    &:hover {
      background-color: var(--marketplaceSecondaryColor);
      border: solid 1px var(--marketplaceSecondaryColor);
      color: var(--matterColorLight);
    }

    & > svg {
      width: 20px;
      height: 20px;
    }
  }

  & .borderButton {
    background-color: transparent;
    border: 1px solid #c96969;
    border-radius: 3px;
    font-family: 'Didact Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #c96969;
    text-transform: uppercase;
    width: auto;
    height: 44px;
    width: 144px;
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 20px;
      width: 98px;
      height: 40px;
    }
    &:hover {
      box-shadow: none;
      border: solid 1px var(--marketplaceSecondaryColor);
      color: var(--marketplaceSecondaryColor);

      & > svg {
        stroke: var(--marketplaceSecondaryColor);
      }
    }

    & > svg {
      width: 20px;
      height: 20px;
      stroke: var(--marketplaceColor);
    }
  }

  & .cancelButton {
    background-color: transparent;
    border: solid 1px transparent;
    font-family: 'Didact Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #91d6d5;
    text-transform: uppercase;
    width: auto;
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 20px;
    }
    &:hover {
      box-shadow: none;
      color: var(--marketplaceSecondaryColor);
    }

    & > svg {
      width: 20px;
      height: 20px;
    }
  }
}
.stepNumber {
  font-family: 'Didact Gothic';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #6b6b6b;
  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 20px;
    display: none;
  }
}

.formMargins {
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-bottom: 32px;
  }
}

.title {
  composes: formMargins;
}

.policy {
  composes: formMargins;
  flex-shrink: 0;
}

.error {
  color: var(--failColor);
}

.submitButton {
  margin-top: auto;
  flex-shrink: 0;

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
    margin-top: 100px;
  }
}
